*.gem
.bundle
Gemfile.lock
pkg/*

# IntelliJ #############################################################################################################
.idea
/*.ids

# Linux ################################################################################################################
*~

# NetBeans #############################################################################################################
nbproject

# Windows ##############################################################################################################
Thumbs.db
Desktop.ini

# Mac ##################################################################################################################
.DS_Store

# Keep it! (and keep this pattern at the end of .gitignore) ############################################################
!.gitkeep
